<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="(item,i) in products">
                名称：{{item.name}}
                <button @click="changeStock(item,item.stock-1)">-</button>
                库存：
                <span v-if="item.stock >0"> {{item.stock}}</span>
                <span v-else>无货</span>

                <button @click="changeStock(item,item.stock+1)">+</button>

                <button @click="remove(i)">删除</button>
                
            </li>

        </ul>
    </div>
</body>

</html>
<script src="./libs/Vue.min.js"></script>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            products: [{
                    name: "iphoen",
                    stock: 10
                },
                {
                    name: "xiaomi",
                    stock: 5
                },
                {
                    name: 'huawei',
                    stock: 3
                }
            ]
        },
        methods: {
            remove(i) {
                this.products.splice(i, 1);
            },
            changeStock(productItem, newStock) {
                if (newStock < 0) {
                    newStock = 0;
                }
                productItem.stock = newStock;
            }
        }
    })
</script>